In [2]:
# lets create a dataframe with threee variable : income, credit score and status
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns   
from sklearn.model_selection import train_test_split

In [5]:
# lets create a dataframe with threee variable : income, credit score and status
data = {'income': [50000, 60000, 55000, 80000, 120000, 90000, 75000, 40000, 30000, 200000],
        'credit_score': [650, 700, 680, 720, 800, 750, 710, 600, 580, 850],
        'status': [0, 0, 0, 0, 1, 0, 0, 0, 0, 1]}  # 0 = no default, 1 = default

df = pd.DataFrame(data)
df.head(10)

   income  credit_score  status
0   50000           650       0
1   60000           700       0
2   55000           680       0
3   80000           720       0
4  120000           800       1
5   90000           750       0
6   75000           710       0
7   40000           600       0
8   30000           580       0
9  200000           850       1

In [6]:
# lets randomly split the data into training and testing sets
train, test = train_test_split(df, test_size=0.3, random_state=42)
# lets print the shape of data
print("Train shape:", train.shape)
print("Test shape:", test.shape)

Train shape: (7, 3)
Test shape: (3, 3)

In [7]:
train.head(2)

   income  credit_score  status
0   50000           650       0
7   40000           600       0

In [10]:
test.head()

   income  credit_score  status
8   30000           580       0
1   60000           700       0
5   90000           750       0

In [12]:
# we will implement knn from scratch

def distance(p1, p2):
    return np.sqrt(np.sum((p1 - p2) ** 2))

# distance(np.array([1, 2]), np.array([4, 6]))  # should return 5.0

def knn(train, test, k=3):
    predictions = []
    for i in range(len(test)):
        distances = []
        for j in range(len(train)):
            dist = distance(test.iloc[i][:-1].values, train.iloc[j][:-1].values)
            distances.append((dist, train.iloc[j][-1]))
        distances.sort(key=lambda x: x[0])
        neighbors = distances[:k]
        votes = [neighbor[1] for neighbor in neighbors]
        prediction = max(set(votes), key=votes.count)
        predictions.append(prediction)
    return predictions

preds = knn(train, test, k=3)

# lets keep this in df test
test['predictions'] = preds
test

/var/folders/fq/kr6gv5l17pd4j572n0_n3f2c0000gn/T/ipykernel_27481/3860374123.py:14: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  distances.append((dist, train.iloc[j][-1]))

   income  credit_score  status  predictions
8   30000           580       0            0
1   60000           700       0            0
5   90000           750       0            0

In [13]:
# lets compute the accuracy
accuracy = np.sum(test['status'] == test['predictions']) / len(test)
print("Accuracy:", accuracy)

Accuracy: 1.0

In [19]:
# lest import skelarn knn
from sklearn.neighbors import KNeighborsClassifier
knn_sklearn = KNeighborsClassifier(n_neighbors=3)
knn_sklearn.fit(train.iloc[:, :-1], train.iloc[:, -1])
sklearn_preds = knn_sklearn.predict(test.iloc[:, :-3])
#lest add this to test df
test['sklearn_predictions'] = sklearn_preds
test

   income  credit_score  status  predictions  sklearn_predictions
8   30000           580       0            0                    0
1   60000           700       0            0                    0
5   90000           750       0            0                    0

In [20]:
# lets create data to get the sales volume based on advertising
data = {'TV': [230.1, 44.5, 17.2, 151.5, 180.8, 8.7, 57.5, 120.2, 8.6, 199.8],
        'Radio': [37.8, 39.3, 45.9, 41.3, 10.8, 48.9, 32.8, 19.6, 2.1, 2.6],
        'Newspaper': [69.2, 45.1, 69.3, 58.5, 58.4, 75.0, 23.5, 11.6, 1.0, 21.2],
        'Sales': [22.1, 10.4, 9.3, 18.5, 12.9, 7.2, 11.8, 13.2, 4.8, 10.6]} 
df = pd.DataFrame(data)
df.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [21]:
# lets do the same things  ==> knn from scratch
# lets randomly split the data into training and testing sets
train, test = train_test_split(df, test_size=0.3, random_state=42)
# lets print the shape of data
print("Train shape:", train.shape)
print("Test shape:", test.shape)

Train shape: (7, 4)
Test shape: (3, 4)

In [22]:
def knn_regression(train, test, k=3):
    predictions = []
    for i in range(len(test)):
        distances = []
        for j in range(len(train)):
            dist = distance(test.iloc[i][:-1].values, train.iloc[j][:-1].values)
            distances.append((dist, train.iloc[j][-1]))
        distances.sort(key=lambda x: x[0])
        neighbors = distances[:k]
        avg_value = np.mean([neighbor[1] for neighbor in neighbors])
        predictions.append(avg_value)
    return predictions

preds = knn_regression(train, test, k=3)
# lets keep this in df test
test['predictions'] = preds

/var/folders/fq/kr6gv5l17pd4j572n0_n3f2c0000gn/T/ipykernel_27481/3984731635.py:7: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  distances.append((dist, train.iloc[j][-1]))