# Introduction to Pandas dataframe

Data frame is a main object in pandas. It is used to represent data with rows and columns

Data frame is a datastructure represent the data in tabular or excel spread sheet like data)

**creating dataframe:**

In [1]:
import pandas as pd
df = pd.read_csv("weather_data.csv")   #read weather.csv data
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [2]:
avg_temp = []
avg_wind = []

for i in df['event'].unique():
    avg_temp.append(df[df['event'] == i]['temperature'].mean())
    avg_wind.append(df[df['event'] == i]['windspeed'].mean())

print('Average temperature by event:')
print(avg_temp)
print('Average windspeed by event:')
print(avg_wind  )

Average temperature by event:
[np.float64(32.0), np.float64(33.0), np.float64(26.0)]
Average windspeed by event:
[np.float64(5.0), np.float64(4.5), np.float64(4.5)]

In [5]:
df.head()

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

In [9]:
df['pct_change'] = df['temperature'].pct_change()
# avg change in temp
df

        day  temperature  windspeed  event  test  pct_change
0  1/1/2017           32          6   Rain    64         NaN
1  1/2/2017           35          7  Sunny    70    0.093750
2  1/3/2017           28          2   Snow    56   -0.200000
3  1/4/2017           24          7   Snow    48   -0.142857
4  1/5/2017           32          4   Rain    64    0.333333
5  1/6/2017           31          2  Sunny    62   -0.031250

In [ ]:
#Q) What is avg temp by event
#Q) what is avg windspeed by event?
#Q) what is change in temp by event?
df[]= df['temperature'].pct_change()

0         NaN
1    0.093750
2   -0.200000
3   -0.142857
4    0.333333
5   -0.031250
Name: temperature, dtype: float64

In [10]:
# how to create pandas dataframe from scratch : sales data
data={'sales_id':[1,2,3,4,5],
      'item':['item1','item2','item3','item4','item5'],
      'amount':[100,200,300,400,500],
      'date':['2023-01-01','2023-01-02','2023-01-03','2023-01-04','2023-01-05']}

df = pd.DataFrame(data)
df.head()

   sales_id   item  amount        date
0         1  item1     100  2023-01-01
1         2  item2     200  2023-01-02
2         3  item3     300  2023-01-03
3         4  item4     400  2023-01-04
4         5  item5     500  2023-01-05

In [12]:
# avg sales amount
df['amount'].mean()

np.float64(300.0)

In [14]:
avg_sales={}

for i in df['item'].unique():
    avg_sales[i] = df[df['item'] == i]['amount'].mean()

print('Average sales by item:')
print(avg_sales)

Average sales by item:
{'item1': np.float64(100.0), 'item2': np.float64(200.0), 'item3': np.float64(300.0), 'item4': np.float64(400.0), 'item5': np.float64(500.0)}

In [11]:
# we can do it via numpy also
import numpy as np
arr = np.array([[1,2,3],[4,5,6],[7,8,9]])
df1 = pd.DataFrame(arr, columns=['col1','col2','col3'])
df1.head()

   col1  col2  col3
0     1     2     3
1     4     5     6
2     7     8     9

In [17]:
# create a dummy data to compute avg sales
data ={
    'product': ['A', 'B', 'A', 'D', 'E'],
    'sales': [100, 150, 200, 250, 300]
}


# what is avg sales by product
# or they can which product have highest sales

sales_df = pd.DataFrame(data)
sales_df.head(2)

product_high = {}

for i in sales_df['product'].unique():
    product_high[i] = sales_df[sales_df['product'] == i]['sales'].mean()


product_high

{'A': np.float64(150.0),
 'B': np.float64(150.0),
 'D': np.float64(250.0),
 'E': np.float64(300.0)}

In [2]:
#list of tuples

# weather_data = [('1/1/2017', 32, 6, 'Rain'),
#                 ('1/2/2017', 35, 7, 'Sunny'),
#                 ('1/3/2017', 28, 2, 'Snow'),
#                 ('1/4/2017', 24, 7, 'Snow'),
#                 ('1/5/2017', 32, 4, 'Rain'),
#                 ('1/6/2017', 31, 2, 'Sunny')
#                ]
# df = pd.DataFrame(weather_data, columns=['day', 'temperature', 'windspeed', 'event'])
# df

In [17]:
#get dimentions of the table

df.shape   #total number of rows and columns

(6, 4)

In [3]:
#if you want to see initial some rows then use head command (default 5 rows)
df.head(6)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [4]:
#if you want to see last few rows then use tail command (default last 5 rows will print)
df.tail()

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [5]:
#slicing
df[2:5]

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow
4  1/5/2017           32          4  Rain

In [6]:
df.columns   #print columns in a table

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [7]:
df.day      #print particular column data

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [8]:
#another way of accessing column
df['day'] #df.day (both are same)

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [9]:
#get 2 or more columns
df[['day', 'event']]

        day  event
0  1/1/2017   Rain
1  1/2/2017  Sunny
2  1/3/2017   Snow
3  1/4/2017   Snow
4  1/5/2017   Rain
5  1/6/2017  Sunny

In [10]:
#get all temperatures
df['temperature']

0    32
1    35
2    28
3    24
4    32
5    31
Name: temperature, dtype: int64

In [11]:
#print max temperature
df['temperature'].max()

35

In [12]:
#print max temperature
df['temperature'].min()

24

In [13]:
#print max temperature
df['temperature'].describe()

count     6.000000
mean     30.333333
std       3.829708
min      24.000000
25%      28.750000
50%      31.500000
75%      32.000000
max      35.000000
Name: temperature, dtype: float64

In [3]:
# select rows which has maximum temperature
df[df.temperature == df.temperature.max()]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [15]:
#select only day column which has maximum temperature
df.day[df.temperature == df.temperature.max()]

1    1/2/2017
Name: day, dtype: object