# What is pandas-python? Introduction and Installation

Pandas is python module that makes data science easy and effective

Weather dataset

Questions?

1. What was the maximum temparature in new york in the month of january?

2. On which days did it rains?

3. What was the average speed of wind during the month?

First we will see in python code

In [20]:
import pandas as pd

# how to create the dataframe
df = pd.DataFrame({'Name':[6,2,3,7,8,9,11,12],
                   'MARKS':[43,45,67,68,88,89,99,97]
                   
                   
                   })
# type(df)
# type(df.MARKS)
df.max()
df.MARKS.max()

99

In [21]:
# now we will see in pandas 


import pandas as pd
df = pd.read_csv('nyc_weather.csv')
df.head(5)

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333

In [33]:
df.Events.value_counts()
# day when it rains ??
# filter first ?? 
# we go to the date colunn
# note that date coolumn ??

# filter 
# df.Events.value_counts()
rain_df = df[df.Events == 'Rain']
rain_df['EST']

8      1/9/2016
9     1/10/2016
15    1/16/2016
26    1/27/2016
Name: EST, dtype: object

In [24]:
#get the maximum temparature 
df['Temperature'].max()
df.Temperature.min()

20

In [3]:
#to know which day it rains
df['EST'][df['Events'] == 'Rain']

8      1/9/2016
9     1/10/2016
15    1/16/2016
26    1/27/2016
Name: EST, dtype: object

In [4]:
#3. average wind speed
df['WindSpeedMPH'].mean()

6.892857142857143

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   EST                   31 non-null     object
 1   Temperature           31 non-null     int64
 2   DewPoint              31 non-null     int64
 3   Humidity              31 non-null     int64
 4   Sea Level PressureIn  31 non-null     float64
 5   VisibilityMiles       31 non-null     int64
 6   WindSpeedMPH          28 non-null     float64
 7   PrecipitationIn       31 non-null     object
 8   CloudCover            31 non-null     int64
 9   Events                9 non-null      object
 10  WindDirDegrees        31 non-null     int64
dtypes: float64(2), int64(6), object(3)
memory usage: 2.8+ KB

In [36]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Temperature,31.0,34.677419,7.639315,20.00,29.000,35.00,39.50,50.00
DewPoint,31.0,17.838710,11.378626,-3.00,10.000,18.00,23.00,46.00
Humidity,31.0,51.677419,11.634395,33.00,44.500,50.00,55.00,78.00
Sea Level PressureIn,31.0,29.992903,0.237237,29.52,29.855,30.01,30.14,30.57
VisibilityMiles,31.0,9.193548,1.939405,1.00,9.000,10.00,10.00,10.00
WindSpeedMPH,28.0,6.892857,2.871821,2.00,5.000,6.50,8.00,16.00
CloudCover,31.0,3.129032,2.629853,0.00,1.000,3.00,4.50,8.00
WindDirDegrees,31.0,247.129032,92.308086,34.00,238.000,281.00,300.00,345.00

# Installation


pip3 install pandas