In [1]:
import numpy as np
import matplotlib.pyplot as plt 
import pandas as pd

In [24]:
# lets create numpy array

data = np.array([[14,750,3],[13,700,3],[14,750,2],
                 [6,380,5],[5,350,10]])

df = pd.DataFrame(data, columns=['income','Credit_score','#of_active_loan'])
df['Status'] = ['Yes','Yes','Yes','No','No']    
df.head()

   income  Credit_score  #of_active_loan Status
0      14           750                3    Yes
1      13           700                3    Yes
2      14           750                2    Yes
3       6           380                5     No
4       5           350               10     No

In [26]:
new_customer = np.array([3,350,4])

In [27]:
def predict(df,x_query):
    df['distance'] = np.sqrt((df['income'] - x_query[0])**2 + (df['Credit_score'] - x_query[1])**2 + (df['#of_active_loan'] - x_query[2])**2)
    output_lable = df.sort_values(ascending=True,by='distance').reset_index().drop('index',axis=1)['Status'][0] 
    print('prediction for new input is : ',output_lable)  
    return df,output_lable

output_df,output_lable = predict(df,new_customer)

prediction for new input is :  No